.view-enter {
    opacity: 0;
    transform: scale(1.1);
}

.view-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.view-exit {
    opacity: 1;
    transform: scale(1);
}

.view-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
