@import "reset";
@import "mixins";

$theme-blue-accent: rgba(126, 193, 209, 1);
$theme-blue-darker: rgb(77, 133, 149);
$theme-dark: rgba(24, 30, 37, 1);
$theme-gray: rgba(39, 41, 50, 1);
$theme-light: rgba(244, 247, 190, 1);
$theme-green-accent: rgba(229, 247, 125, 1);
$white: rgba(255, 255, 255, 1);


html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 320px;
}

body {
  background: $theme-dark;
  color: $white;
  font-family: Roboto, sans-serif;
}

.shader {
  @include gradient($theme-dark, rgba(0, 0, 0, 0), vertical);
  width: 100%;
  height: 30px;
  position: absolute;
  @include position(0, 0);
  z-index: 3;
  pointer-events: none;

  &.bottom {
    @include positionb(-2px, 0);
    @include gradient(rgba(0, 0, 0, 0), $theme-dark, vertical);
    top: unset;
  }
}

.gradientText {
  display: block;
  font-weight: bold;
  font-size: 25pt;
  background: linear-gradient(to right, $theme-blue-accent 0%, $theme-green-accent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%flex-center {
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}


#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  @extend %flex-center;
  align-content: flex-start;

  header {
    height: 15%;
    min-height: 90px;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
    background: $theme-gray;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: $theme-blue-accent solid 2px;
    @extend %flex-center;

    @include breakpoint-mobile {
      width: 100vw;
    }

    h1 {
      color: $theme-blue-accent;
      font-size: 20pt;

      i {
        position: relative;
        top: 3px;
      }

      span {
        color: $white;
      }
    }

    h2 {
      font-size: 10pt;
      color: $theme-blue-darker;
    }

  }

  #main-wrapper {
    position: relative;
    border-bottom: $theme-blue-accent solid 2px;
    height: 85%;


    main {
      position: relative;
      padding: 20px 10px;
      margin: 0 auto;
      box-sizing: border-box;
      height: 100%;

      .maxHeight {
        max-height: 72vh;
      }

      @include breakpoint-mobile {
        width: 100vw;
      }
    }
  }


}

